* {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /* 0.938rem */
    font-size: 0.938rem;
}

body {
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

.card {
    width: 25rem;
    height: 37.5rem;
    background-color: var(--white);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.563rem;
}

.card__image {
    margin-bottom: 1.563rem;
}

.wrapper {
    padding: 1.563rem;
}

.qr-code {
    width: 21.875rem;
    height: 21.875rem;
    border-radius: 0.938rem;
}

.card__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card__description__title {
    font-weight: 700;
    font-size: 1.688rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

.card__description__text {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--grayish-blue);
}

@media (max-width: 375px) {
    .card {
        width: 22rem;
        height: 35rem;
    }

    .qr-code {
        width: 19.875rem;
        height: 19.875rem;
    }

    .wrapper {
        padding: 0.938rem;
    }

    .card__description {
        padding: 0.5rem;
    }

    .card__description__title {
        font-size: 1.563rem;
    }

    .card__description__text {
        font-size: 1.1rem;
        padding: 0 0.313rem;
    }

    .card__image {
        margin-bottom: 1rem;
    }
}