* {
    font-size: 0.875rem;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
}

.product-card {
    width: 50rem;
    height: 37.5rem;
    background-color: var(--white);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.7rem;
}

.product-card__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.product-card__img {
    background-image: url("../images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 25rem;
    height: 37.5rem;
    border-radius: 0.7rem 0 0 0.7rem;
}

.product-card__description {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 37.5rem;
}

.product-card__sub-title {
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    margin-bottom: 25px;
    margin-top: 40px;
}

.product-card__title {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
    padding-right: 70px;
    line-height: 1;
}

.product-card__text {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 35px;
    padding-right: 70px;
}

.product-card__price {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 35px;
}

.product-card__new-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--dark-cyan);
    font-size: 40px;
}

.product-card__old-price {
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--dark-grayish-blue);
    font-size: 15px;
    text-decoration: line-through;
}

.product-card__btn {
    border: none;
    border-radius: 8px;
    background-color: var(--dark-cyan);
    padding: 20px;
    width: 20rem;
}

.product-card__btn-text {
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--white);
    font-size: 18px;
}

.product-card__btn-text::before {
    content: "";
    display: block;
    background: url("../images/icon-cart.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    left: 50px;
    top: 1px;
    /* margin: 0 6px 0 0; */
}

.product-card__btn:hover {
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
}

@media (max-width: 375px) {
    .product-card {
        width: 25rem;
        height: 46rem;
    }

    .product-card__description {
        height: 0;
    }

    .product-card__wrapper {
        flex-direction: column;
        gap: 0;
    }

    .product-card__img {
        height: 20rem;
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .product-card__sub-title {
        margin-top: 25px;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .product-card__title {
        padding-right: 0px;
        margin-bottom: 15px;
        font-size: 32px;
    }

    .product-card__text {
        padding-right: 15px;
        margin-bottom: 20px;
    }

    .product-card__price {
        margin-bottom: 15px;
    }

    .product-card__new-price {
        font-size: 35px;
    }

    .product-card__old-price {
        font-size: 13px;
    }

    .product-card__btn {
        width: 22rem;
        padding: 15px;
    }

    .product-card__btn-text {
        font-size: 15px;
    }

    .product-card__btn-text::before {
        left: 80px;
    }
}
